body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-font {
  font-size: 0.8rem;
}

/* Example CSS styles for making Pagination mobile-friendly */

/* Reduce font size for small screens */
@media (max-width: 576px) {
  .pagination {
    font-size: 0.8rem;
  }
}

/* Adjust spacing for small screens */
@media (max-width: 576px) {
  .pagination .page-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}

/* Hide pagination navigation for small screens */
@media (max-width: 576px) {
  .pagination .page-item:first-child,
  .pagination .page-item:last-child {
    display: none;
  }
}

